.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c009d;
  padding: 5px;
  color: #fff;
  padding-right: 5%;
}
.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo-link {
  font-size: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; 
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 22%;
}

.nav-item {
  margin-right: 1rem;
  
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: auto;
}

.nav-item a:hover, .nav-item a.active {
  color: orangered;
}

.navbar-auth a {
  color: #fff;
  text-decoration: none;

}

.navbar-auth a:hover {
  color: orangered; 
}
